@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Our <a asp-controller="Login" asp-action="Index">Customer page</a>.
    </p>
    <p>
        Our <a asp-controller="Event" asp-action="Index">Event page</a>.
    </p>
    <p>
        Our <a asp-controller="Game" asp-action="Index">Game page</a>.
    </p>
    <p>
        Our <a asp-controller="CreditCard" asp-action="Index">Card page</a>.
    </p>
</div>
