@model List<WebApplication1.Data.Game>
@{
    ViewData["Title"] = "All Games";
}

<h1>@ViewData["Title"]</h1>
<a asp-controller="Game" asp-action="Add">Add Game</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Game Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Data.Game game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>
                    <a asp-controller="Game" asp-action="Edit" asp-route-id="@game.GameId">Edit</a>
                    <span class="linkSpacer">|</span>
                    <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.GameId">Delete</a>
                    <span class="linkSpacer">|</span>
                </td>
            </tr>
        }
    </tbody>
</table>

