@using GameStore.Models.ExtensionModels
@model Event

<a asp-action="Details" asp-controller="AdminEvent" asp-area="admin" 
    asp-route-id="@Model.EventId"
    asp-route-slug="@Model.Name.Slug()">
    @Model.Name
</a>