@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Our <a asp-controller="Login" asp-action="Index">Customer page</a>.
    </p>
    <p>
        Our <a asp-controller="Event" asp-action="Add">Event page</a>.
    </p>
    <p>
        Our <a asp-controller="Game" asp-action="Add">Game page</a>.
    </p>
</div>
