@model List<CreditCard>
@{
    ViewData["Title"] = "All Credit Cards";
}

<h1>@ViewData["Title"]</h1>
<a asp-controller="CreditCard" asp-action="Add">Add Card</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Card Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CreditCard card in Model)
        {
            <tr>
                <td>@card.CardName</td>
                <td>
                    <a asp-controller="CreditCard" asp-action="Edit" asp-route-id="@card.CreditId">Edit</a>
                    <span class="linkSpacer">|</span>
                    <a asp-controller="CreditCard" asp-action="Delete" asp-route-id="@card.CreditId">Delete</a>
                    <span class="linkSpacer">|</span>
                </td>
            </tr>
        }
    </tbody>
</table>

