@using GameStore.Models.ExtensionModels
@model Order

<a asp-action="Details" asp-controller="Order"
    asp-route-id="@Model.OrderNo"
    asp-route-slug="@Model.OrderNo.Slug()">
    @Model.OrderNo
</a>
