@model CartItem

@{
    ViewData["Title"] = " | Edit Cart";
}

<h1>Edit Cart Item</h1>

@if(Model.Game != null)
{
    <form asp-action="EditGame" method="post">
        <ul class="list-group mb-2">
            <li class="list-group-item">@Model.Game.Name</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        <label>Price:</label>
                    </div>
                    <div class="col">
                        @Model.Game.Price.Value.ToString("c")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-row">
                    <div class="col-1">
                        <label asp-for="Quantity">Quantity:</label>
                    </div>
                    <div class="col">
                        <select asp-for="Quantity" class="form-control" 
                            my-min-number="1" my-max-number="10"></select>
                    </div>
                </div>
            </li>
        </ul>
        <input type="hidden" asp-for="Game.GameId" />
        <input type="hidden" asp-for="Game.Name" />

        <button type="submit">Save</button>
        <a asp-action="Index" my-button>Cancel</a>
    </form>
}
else
{
    <form asp-action="EditMerchandise" method="post">
        <ul class="list-group mb-2">
            <li class="list-group-item">@Model.Merchandise.Name</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        <label>Price:</label>
                    </div>
                    <div class="col">
                        @Model.Merchandise.Price.Value.ToString("c")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-row">
                    <div class="col-1">
                        <label asp-for="Quantity">Quantity:</label>
                    </div>
                    <div class="col">
                        <select asp-for="Quantity" class="form-control" 
                            my-min-number="1" my-max-number="10"></select>
                    </div>
                </div>
            </li>
        </ul>
        <input type="hidden" asp-for="Merchandise.MerchId" />
        <input type="hidden" asp-for="Merchandise.Name" />

        <button type="submit">Save</button>
        <a asp-action="Index" my-button>Cancel</a>
    </form>
}




