@using GameStore.Models.ViewModels.Reports
@model SelectValueViewModel
@{
    ViewData["Title"] = " | Order Details";
}


<h1 class="mt-3">Report Generator</h1>


<a asp-action="GenerateReport" asp-controller="AdminReport" asp-area="Admin" 
asp-route-id="customer" class="btn btn-primary mt-2"
                           >Generate Member List Report</a>

<a asp-action="GenerateReport" asp-controller="AdminReport" asp-area="Admin" 
asp-route-id="game" class="btn btn-primary mt-2 ml-2"
                           >Generate Game List Report</a>
